@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounceIn {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Applying animations */
.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.animate-slideInLeft {
  animation: slideInLeft 1s ease-in-out;
}

.animate-slideInRight {
  animation: slideInRight 1s ease-in-out;
}

.animate-bounceIn {
  animation: bounceIn 1.5s infinite;
}

html {
  scroll-behavior: smooth;
}
