@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }
  

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.app-background {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url('/back.png'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

}

.logo {
  height: 120px;
  padding-left:24px ;
}

.nav-links {
  display: flex;
  gap: 16px;
  padding-right: 24px;
}

.nav-button {
  background-color: none;
  color: none;
  padding: 10px; 
  width: 150px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-button:hover {
  background-color: #882A85;
  color: white;
}


.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-left: 24px;
}

.text-container {
  max-width: 800px; 
}

.heading-1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: white; 
  padding-top: 60px;
  padding-left: 20px ;
}

.heading-2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #7556ad;
  margin-top: 25px;
  padding-left: 20px ;
}

